<h1>Your Subscriptions</h1>

<% @subscription.each do |s| %>
  <li><%= s.fee %></li>
<% end %>

<%= image_tag 'https://uploads-ssl.webflow.com/5ea0b0cf2c1b8bf2c2428d51/5f0e1179fb5caf46c879c8b1_Logo%20Blue%20(Compressed)-p-500.png' %>
